{{!-- <div class="post">
  <fieldset>
  <input type="text" name="post" value="">
  </fieldset>
</div> --}}


  <h4 class="name">{{username}}</h1>
  <h2 class="post">{{message}}</h2>
  <h6 class="time">{{created_at}}
